<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kos.ktodo">
	<application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="true">
		<activity android:name=".KTodo" android:windowSoftInputMode="stateHidden|adjustResize">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity android:name=".EditTags"
		          android:label="@string/edit_tags"
                  android:windowSoftInputMode="adjustResize"/>
	</application>
</manifest>
